<% include ../header %>
<header>
<h2>Ntalk - Editar contato</h2>
</header>
<section>
<form action="/contato/<%- id %>" method="post">

<label>Nome:</label>
<input type="text" name="name" value="<%- contato.name %>">

<label>E-mail:</label>
<input type="text" name="email" value="<%- contato.email %>">

<input type="hidden" name="_method" value="put">

<button type="submit">Atualizar</button>
</form>
</section>
<% include ../exit %>
<% include ../footer %>