
<header>
<h1>Test</h1>
</header>
<section>
<form action="/logar" method="post">
<input type="text" name="name" value="jesus"
placeholder="Digite o nome">
<br>
<input type="text" name="email" value="deus"
placeholder="Digite o e-mail">
<br>
<button type="submit">Entrar</button>
</form>
</section>
